<p id="notice"><%= notice %></p>

<p>
  <b>Debtor:</b>
  <%= @invoice.debtor %>
</p>

<p>
  <b>Balance:</b>
  <%= @invoice.balance %>
</p>


<%#= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%#= link_to 'Back', invoices_path %>
